<mat-toolbar color="primary">
	<button class="app-icon-button" (click)="sidenav.toggle()">
		<i class="material-icons app-toolbar-menu">menu</i>
	</button>

	Fire Front

	<span class="app-toolbar-filler"></span>

	<button mat-icon-button [matMenuTriggerFor]="menu">
		<mat-icon>more_vert</mat-icon>
	</button>
	<mat-menu #menu="matMenu">
		<button mat-menu-item disabled>
			<span>Signed in as {{email}}</span>
		</button>

		<button mat-menu-item (click)="signOut()">
			<span>Sing out</span>
		</button>
	</mat-menu>
</mat-toolbar>
