<div *ngFor="let picture of pictures; let i = index;">
	<div class="image-preview" *ngIf="picture.url && isPreviewable(picture.url)">
		<img src="{{picture.url}}">
	</div>
	<div class="input-group">
		<input class="form-control" [value]="picture.url" placeholder="{{to.placeholder}}" disabled>

		<span class="input-group-btn">
		<button class="btn btn-secondary" type="button" (click)="remove(picture)" [disabled]="!picture.url"><mat-icon>delete</mat-icon></button>
	</span>
		<span class="input-group-btn">
		<button class="btn btn-secondary" type="button" (click)="upload(i)">
				<mat-spinner [hidden]="!picture.inProgress"></mat-spinner>
				<span>{{to.buttonLabel}}</span>
		</button>
	</span>
		<input #fileInput type="file" style="display: none;" (change)="fileChange($event, picture)">
	</div>
	<a class="preview-link" *ngIf="picture.url" href="{{picture.url}}" target="_blank">{{getActionLabel(picture.url)}}</a>
</div>