$ha-box-width: 150px;
$ha-box-height: 150px;

$ha-upload-icon-size: 36px;
$ha-spinner-diameter: $ha-upload-icon-size;

$ha-upload-icon-top: ($ha-box-height - $ha-upload-icon-size) / 2 ;
$ha-upload-icon-left: ($ha-box-width - $ha-upload-icon-size) / 2 ;

.not-active {
	pointer-events: none;
	cursor: default;
	color: lightgray;
}

.preview-link {
	display: block;
	margin-top: 5px;
}

.image-preview-card {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	left: 0;
	top: 0;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	img {
		width: 100%;
		max-height: $ha-box-height;
		border-radius: 3px;
	}
}

.image-preview {
	img {
		width: $ha-box-width;
		height: $ha-box-height;
		border-radius: 3px;
	}
}

.img-card {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	width: $ha-box-width;
	height: $ha-box-height;
	margin: 5px;
	border: 1px solid whitesmoke;
	background: white;
	border-radius: 3px;
}

.cards-container {
	display: flex;
	flex-wrap: wrap;

}

.example-header-image {
	background-size: cover;
}

mat-spinner {
	display: inline-block;
	overflow: hidden;
	margin-right: 5px;
}

.image-upload-area {
	position: relative;
	width: $ha-box-width;
	height: $ha-box-height;
	border: 1px solid whitesmoke;
	border-radius: 3px;
	cursor: pointer;
	&.has-preview-image {
		.cloud-upload {
			display: none;
		}
		&:hover {
			.image-preview-card {
				opacity: 0.5;
			}
			.cloud-upload {
				display: block;
			}
		}
	}
	&:hover, &:active {
		border: 1px solid whitesmoke;
	}
	.cloud-upload {
		font-size: $ha-upload-icon-size;
		position: absolute;
		top: $ha-upload-icon-top;
		left: $ha-upload-icon-left;
		z-index: 10;
	}
	.spinner {
		position: absolute;
		top: $ha-upload-icon-top;
		left: $ha-upload-icon-left;
	}
}

:host {
	.toolbar {
		position: absolute;
		right: 10px;
		bottom: 10px;
		z-index: 5;
		.mdc-icon-button {
			margin-right: 5px;
		}
	}

}
