<div class="sg-login-screen">
	<div class="app-branding">
		<h1>{{appName}}</h1>
		<h2>{{appSubtitle}}</h2>
		<p>{{appSlogan}}</p>
	</div>

	<div class="sg-form-wrapper" fxLayout="row" fxLayoutAlign="center center">
		<md-card>

			<md-card-title>Forgot password?</md-card-title>

			<div fxLayout="column">
				<small>Enter your email address to receive instructions on the next steps.</small>

				<md-input-container [hidden]="message">
					<input mdInput [(ngModel)]="email" type="email" placeholder="Email">
				</md-input-container>

				<div [hidden]="!error">
					<p class="wfw-warn">{{ error }}</p>
				</div>

				<div [hidden]="!message">
					<p class="wfw-accent">{{ message }}</p>
				</div>

				<button [hidden]="message" md-raised-button color="primary" aria-label="reset" (click)="reset()">Send email</button>

				<md-divider></md-divider>

				<div fxLayout="column" fxLayoutAlign="center" nxLayoutGap="10px">
					<a md-button [routerLink]="['/sign-in']">Sign in</a>
					<a md-button [routerLink]="['/sign-up']">Create an account</a>
				</div>
			</div>
		</md-card>

	</div>
</div>
