:host {
	.icon-wrapper {
		position: absolute;
		right: 0.5rem;
		top: 0.5rem;
		color: #27ae60;
		background: #fff;
		border-radius: 100%;
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 0 0 2px #000;
	}
	.template-card {
		width: 200px;
		float: left;
		margin-bottom: 1rem;

		.system-template {
			padding-top: 0;

			.mat-card-content {
				margin-bottom: 0;
			}
		}

		.mat-card-actions{
			text-align: right;
		}
	}
}
