<mat-card class="template-card" *ngFor="let template of systemTemplates">
  <img mat-card-image src="https://picsum.photos/500/300?q={{template.id}}" [alt]="template.name">
  <div class="icon-wrapper" *ngIf="template?.id === selectedTemplate?.id" >
    <mat-icon>check</mat-icon>
  </div>
  <mat-card-content>
    <p>
      {{template.name}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="selectTemplate(TEMPLATE_TYPE_SYSTEM, template)">Select</button>
    <button mat-button>Clone</button>
  </mat-card-actions>
</mat-card>

<h3 style="clear: both; margin-top: 20px">User Designs</h3>
<mat-card class="template-card"  *ngFor="let template of userTemplates">
  <img mat-card-image src="https://picsum.photos/500/300?q={{template.$key}}" [alt]="template.name">
  <div class="icon-wrapper" *ngIf="template?.$key === selectedTemplate?.id" >
    <mat-icon>check</mat-icon>
  </div>
  <mat-card-content>
    <p>
      {{template.name}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="selectTemplate(TEMPLATE_TYPE_USER, template)">Select</button>
    <button mat-button>Clone</button>
  </mat-card-actions>
</mat-card>
