<div class="as-form">
	<div class="as-form-header">
		<toolbar [title]="item?.title" [options]="{multiRows:true, allowBreadCrumbs: true, backButton: parentType}">
			<div class="toolbar-column">
				<button type="submit"
					mat-raised-button
					color="primary"
					[disabled]="!form.valid || !form.dirty"
					(click)="save()">Save
				</button>
				<button type="button" mat-button [disabled]="!form.dirty && itemId" (click)="cancel()">Cancel</button>
			</div>
		</toolbar>
	</div>

	<div class="as-form-scroll">
		<mat-tab-group [selectedIndex]="selectedTabIndex" (selectedIndexChange)="selectedTabIndex=$event">
			<mat-tab label="Event Details">
				<dynamic-form *ngIf="item"
					[fields]="fields"
					[form]="form"
					[item]="item"
					[options]="options"
					[templateOptions]="templateOptions"></dynamic-form>
			</mat-tab>
			<mat-tab label="Template">
				<div style="padding: 20px;">
					<h3>Choose a Template</h3>
					<p>Choose one of the following templates for your landing page. All templates are fully customizable.</p>
					<ngx-unlayer-templates (onTemplateSelected)="onTemplateSelected($event)" [userDesigns]="userDesigns"></ngx-unlayer-templates>
				</div>
			</mat-tab>
			<mat-tab label="Design" [ngClass]="{'active': true}">
				<ng-template matTabContent>
					<ngx-unlayer *ngIf="isDesignerReady" [design]="selectedDesign?.design ? selectedDesign.design : null"
						(onDesignSave)="onDesignSave($event)" [mode]="'edit'" [options]="_options"></ngx-unlayer>
				</ng-template>
			</mat-tab>
			<mat-tab label="Preview">
				<div style="padding: 20px;">
					<p>TBD: Preview the result</p>
				</div>
				<ng-template matTabContent>
					<ngx-unlayer *ngIf="isPreviewReady" [mode]="'preview'" [options]="_options"></ngx-unlayer>
				</ng-template>
			</mat-tab>
			<mat-tab label="Publish">
				<div class="publish-wrapper">
						<p>{{ fullPreviewUrl }}</p>
						<a mat-raised-button  color="primary" target="_blank" [routerLink]="previewUrl">Open Landing Page</a>
				</div>
			</mat-tab>

		</mat-tab-group>
	</div>
</div>
