<div class="as-form">
	<div class="as-form-header">
		<mat-toolbar>
			<button type="button" mat-icon-button *ngIf="parentType" (click)="back()">
				<mat-icon class="mat-24">arrow_back</mat-icon>
			</button>

			<span>{{item?.title}}</span>
			<span class="spacer"></span>

			<button type="submit" mat-raised-button color="primary" [disabled]="!form.valid || !form.dirty" (click)="save()">Save</button>
			<button type="button" mat-button [disabled]="!form.dirty && itemId" (click)="cancel()">Cancel</button>
		</mat-toolbar>
	</div>

	<div class="as-form-scroll">
		<dynamic-form  *ngIf="item" [fields]="tabs" [form]="form" [item]="item" [options]="options"></dynamic-form>
	</div>
</div>
