.btn-toolbar {
	justify-content: flex-end;
	margin-bottom: 10px;

	.btn {
		margin-left: 5px;
		margin-right: 5px;
	}

	.btn:last-child {
		margin-right: 0;
	}
}

::ng-deep .mat-icon-button {
	width: 24px;
	height: 24px;
	line-height: 24px;
	margin-left: 0;
}

.stub {
	background-color: #bfbfbf47;
	position: absolute;
	width: 100%;
	top: 0;
	height: 100%;
	left: 0;
	z-index: 9999;
}

.card-block {
	padding: 0;
}