@import "vars";

body {
	background-color: #fafafa;
}
/*
 * Formly Bootstrap overrides
 */
.form-group {
	margin-bottom: 2rem;
}
/*
 * /Formly Bootstrap overrides
 **/
.padding {
	padding: $padding;
}

.spacer {
	flex: 1 1 auto;
}

/*
 * SCG Login Screens
 *  Login / Sign up / Forgot
 */
.as-login-screen {

	.app-branding {
		text-align: center;
		margin-top: calc(5vw);
		padding-bottom: 5px;

		h1 {
			font-size: calc(1.8em + 1.5vw);
			color: #424242;
			font-weight: 300;
		}

		p {
			font-size: calc(0.6em + 0.3vw);
			color: rgba(41, 43, 44, 0.74)
		}
	}

	.as-form-wrapper {
		margin-top: 20px;
	}

	mat-card {
		width: 360px;
	}
}
