@import '../vars';

md-sidenav-container {
	height: 100%;
}

.app-content md-card {
	margin: 20px;
}

.app-sidenav {
	min-width: 250px;
	width: 250px;
	.active {
		background-color: mat-color($primary);
		color: white;
	}
	h3 {
		background-color: mat-color($background, 100);
		font-family: sans-serif;
		font-weight: 600;
		font-size: medium;
	}
}

.app-action {
	display: inline-block;
	position: fixed;
	bottom: 20px;
	right: 20px;
}

md-sidenav {
	[md-list-icon] {
		padding: 0 !important;
	}
}