<div class="as-form">
	<div class="as-form-header">
		<toolbar [title]="'Dashboard'"></toolbar>
	</div>

	<div class="as-form-scroll">
		<div class="cards-container">

			<ng-template ngFor let-menu [ngForOf]="menus">
				<mat-card [routerLink]="['./manager/' + menu.itemsType]">
					<mat-icon>{{menu.icon}}</mat-icon>
					{{menu.title}}
				</mat-card>
			</ng-template>


			<mat-card [routerLink]="['./manager/system-menus']">
				<mat-icon>list</mat-icon>
				Menus
			</mat-card>

			<mat-card [routerLink]="['./form-config']">
				<mat-icon>settings_applications</mat-icon>
				Form editor
			</mat-card>

			<div class="app-content">
				<!-- TODO?  -->
				<!-- <router-outlet></router-outlet> -->
			</div>
		</div>
	</div>
</div>
